--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
torch
openai-whisper
transformers
sentencepiece
python-docx
spacy
pyannote.audio
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
